html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("./assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Work Sans", sans-serif;

}


.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(3, 3, 51, 0.359);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 20px;
  border: 1px solid rgba(52, 52, 83, 0.251);;
  display: flex;
}
